* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: black;
}

.container:not(.main) {
    padding: 1vw;
    border-radius: 2vw;
    background-color: gray;
}

.main.container {
    margin: 0 auto;
    padding: 1vw 0;
    height: 100vh;
    width: fit-content;
    display: grid;
    gap: 1vw;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas:
    "screen screen screen"
    "fleet button instructions"
}

.screen {
    display: flex;
    justify-content: space-evenly;
    grid-area: screen;
    gap: 1vw;
}

.display {
    height: 100%;
    border-radius: 1vw;
}

.game-grid, .button, .big-red-button {
    aspect-ratio: 1; 
}

.big-red-button{
    border-radius: 100%;
    background-color: red;
}

.game-grid {
    overflow: hidden;
    border: solid 1px lime;
    box-shadow: 0 0 0 4px black;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
}

.grid-square {
    border: solid 1px lime;
}

p {
    color: white;
}