* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: black;
}

.container:not(.main) {
    padding: 1vw;
    border-radius: 2vw;
    background-color: gray;
}

.main.container {
    height: 100vh;
    padding: 1vw;
    gap: 1vw;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas:
    "screen screen screen"
    "fleet button instructions"
}

.screens {
    grid-area: screen;
    display: flex;
}

.screen {
    border: solid 1px white;
    width: 50%;
    position: relative;
}

.game-grid {
    position: absolute;
    margin: auto;
    inset: 0;
    border: solid 1px white;
    aspect-ratio: 1;
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.button {
    aspect-ratio: 1;
}